// Colors
$color-primary: #FF8310;
$color-secondary: #232323;
$color-background: #232323;
$color-surface: #191A20;
$color-text-light: #CCCCCC;
$color-white: #FFFFFF;

// Typography
$font-family-sans: var(--font-poppins), sans-serif;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Border Radius
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
