@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  @include container;
  flex: 1;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-md;

    @include respond-to(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-lg;
    }

    @include respond-to(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
