@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: 2.5rem;
  @include respond-to(md) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  @include respond-to(md) {
    font-size: 2.5rem;
  }
}

p {
  line-height: 1.6;
  margin-bottom: $spacing-md;
  color: $color-text-light;
}
